@import url("components/reset.css");
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/publications.css");
@import url("components/projects.css");
@import url("components/about.css");

:root {
  --textColor: #111;
  --lightText: white;
  --darkBG: #08061f;
  --darkBGN: #242424;
  --lightBG: white;
  --superlightBG: rgb(250, 250, 250);
  --lightDeco: rgba(255, 255, 255, 0.25);
  --darkDeco: rgba(0, 0, 0, 0.25);
  --blue: #96ABD7;
  --green: #BCD796;
  --orange: #D7B696;
  --red: #d35f5f;

}

a, a:hover {
  color: var(--textColor);
  /* color: var(--lightText); */
}


body {
  font-family: "Open Sans", sans-serif;
  
  color: var(--textColor);
  /* background-color: var(--lightBG); */
  
  /* color: var(--lightText);
  background-color: var(--darkBG); */
}

p {
  line-height: 2em;
  font-size: 18px;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3, 
h4, 
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  opacity: 0.6;
}

.main {
  z-index: 2;
}

section {
  /* border-top: 1px solid var(--darkDeco); */
  background-color: white;
  width: 100%;
}

.section-divider {
  /* width: 100%; */
  font-size: 62px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  display: inline-block;
  /* text-align: center; */
  background-color: yellowgreen;
  padding: 40px;
}

.info-title {
  color: var(--lightText);
  font-size: 102px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 60px;
  flex-grow: 1;
  text-align: center;

  /* position: sticky;
  top: 80px; */
}