@import url("components/reset.css");
@import url("components/navbar.css");
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/publications.css");

:root {
  --PageBottomHeight: 180px;
  --NAVheight: 80px;
  --GlobalMargins: 2%;
  --GlobalMaxWidth: 1100px;
  --textColor: #333;
  --themeColor: #94d041;
}

a {
  color: var(--textColor);
}

a:hover {
  color: var(--themeColor);
}

p {
  line-height: 2em;
  font-size: 18px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--textColor);
  background-color: rgb(245, 245, 245);
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 52px;
  color: var(--themeColor);
  line-height: 1.2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 46px;
  padding: 20px;
}

main {
  background-color: violet;
}