@import url("components/reset.css");
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/publications.css");
@import url("components/projects.css");
@import url("components/about.css");

:root {
  --textColor: #111;
  --lightText: white;
  --darkBG: #08061f;
  --lightBG: white;
  --lightDeco: rgba(255, 255, 255, 0.25);
  --darkDeco: rgba(0, 0, 0, 0.25);
}

a, a:hover {
  color: var(--textColor);
  /* color: var(--lightText); */
}


body {
  font-family: "Open Sans", sans-serif;
  
  color: var(--textColor);
  background-color: var(--lightBG);
  
  /* color: var(--lightText);
  background-color: var(--darkBG); */
}

p {
  line-height: 2em;
  font-size: 18px;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  opacity: 0.6;
}

h1 {
  font-size: 102px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 40px;
  padding-bottom: 0px;
}

/* Homepage */

.home-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 0.5;
  padding: 40px;
}

.home-main {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
}

.home-main ul li {
  display: inline-block;
  padding: 10px 30px;
}

.copyrights {
  width: 100%;
  background-color: #eee;
  height: 150px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0.7;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  width: 100%;
  background-color: pink;
  height: 600px;
}
