#main-about {
  max-width: 800px;
  transition: 0.3s;
}

.about-card {
  margin: 40px 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0.8;
}

.about-card p {
  text-align: justify;
}

.about-card h5 {
  opacity: 1;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0px;
}

.btn-bold {
  margin: 20px 0px;
  font-size: 18px;
  transition: 0.2s;
  display: block;
  background-color: var(--darkBG);
  border: 2px solid var(--lightDeco);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  align-self: center;
}

.btn-bold i {
  padding: 0px 2px;
}

.btn-bold:hover {
  background-color: var(--blue);
}

.places-worked {
  background-color: var(--darkBG);
  border: 2px solid var(--lightDeco);
  margin: 20px 0px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imgs-studied-container {
  width: 100%;
  /* padding: 20px; */
  margin: 10px 0px;
  /* background: red; */
  flex-wrap: wrap;
}

.imgs-studied-container img {
  height: 1.7rem;
  padding: 10px;
}

.cv-container {
  background-color: var(--darkBG);
  border: 2px solid var(--lightDeco);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  align-self: center;
  transition: 0.3s;
}

.cv-container:hover {
  background-color: var(--blue);
}

.cv-download {
  text-align: center;
}

.cv-download p {
  font-size: 16px;
}

.cv-download i {
  font-size: 42px;
}
