header {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 102px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  display: inline-block;
  text-align: center;
  flex-grow: 1;
}

nav {
  /* border-right: 1px solid var(--lightDeco); */
  border-right: 1px solid var(--darkDeco);

  height: 100%;
}

header ul li {
  padding: 10px;
}

.home-tab {
  text-decoration: none;
  padding: 5px 15px;
  opacity: 0.7;
  transition: 0.3s;
}

.home-tab:hover {
  opacity: 1;
}

.sidebar {
  width: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 28px;
  cursor: pointer;
  color: var(--textColor);
  background-color: var(--lightBG);
  opacity: 0.7;
  border: none;
}

.openbtn:hover {
    opacity: 1;
}

#navbar-open-btn {
  padding: 0px 20px;
  position: relative;
  background-color: var(--lightBG);
  height: 100%;
}
