@media screen and (max-width: 840px) {
  .home-title {
    font-size: 5rem;
    white-space: normal;
  }

  .sidebar-h {
    width: 80%;
  }

  #main-about,
  #main-pb {
    max-width: 90%;
  }

  .about-card {
    margin: 40px !important;
  }

  .pb-content {
    box-sizing: border-box;
  }

  .paper-description {
    display: none;
  }

  .pb-content-left {
    left: 0%;
  }

  .pb-content-right {
    right: 0%;
  }

  #pb-info-title {
    font-size: 4rem !important;
  }

  .figure-wrapper {
    width: 100% !important;
    border-radius: 0px !important;
  }

  #seg-image {
    width: 100% !important;
    border-radius: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .black-outline-bot,
  .black-outline-top {
    height: 0px;
  }

  .home-subtitle {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  #projects-info-title {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 540px) {
  .home-title {
    font-size: 3rem;
  }

  p {
    line-height: 1.5em !important;
    font-size: 1rem !important;
  }

  #pb-info-title {
    font-size: 3rem !important;
  }

  .about-card {
    margin: 40px 20px !important;
  }
}
