/* NAV BAR */
nav {
  background-color: var(--textColor);
  position: relative;
  z-index: 10;
  width: 100%;
  height: var(--NAVheight);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-container {
  max-width: var(--GlobalMaxWidth);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-home {
  display: flex;
  align-items: center;
  margin-left: var(--GlobalMargins);
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0px 50px;
}

.nav-item {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid var(--themeColor);
  border-radius: 22px;
}

.nav-item:hover {
  color: var(--themeColor);
}

#nav-theme {
  margin-right: var(--GlobalMargins);
  font-size: 22px;
}

#home-avatar {
  border-radius: 50%;
  height: 40px;
  padding-right: 10px;
}

/* ICONS */
nav i {
  color: white;
  font-size: 22px;
}

nav i:hover {
  color: var(--themeColor);
}
