.sd-wrapper {
  background-color: var(--darkBG);
  box-shadow: 0px 0px 10px var(--lightDeco);
  width: 100%;
  max-width: 1000px;
  color: var(--lightText);
  border-radius: 5px;
  box-sizing: border-box;
}

.sd-item {
  width: 100%;
  height: 350px;
  /* border: 2px solid var(--lightDeco); */
  border-radius: 5px;
  overflow: hidden;
  padding: 20px 0px;
  /* margin: 20px; */
  /* background-color: red; */
}

.sd-image {
  width: 350px;
  height: 350px;
  background-color: rgb(199, 199, 199);
  background-size: contain;
}

/* .sd-header {
  background-color: yellow;
} */

.sd-content {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sd-category {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  opacity: 0.6;
  padding: 0px 20px;
  display: inline-block;
}

.sd-content h5 {
  padding: 10px 20px;
  margin: 5px 0px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  background-color: var(--darkDeco);
  align-self: center;
}

.sd-skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin: 10px 15px;
  font-size: 14px;
}

.sd-skills li {
  background-color: var(--superlightBG);
  border: 1px solid var(--darkDeco);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px;
  opacity: 0.8;
}

.sd-about {
  font-size: 14px;
  padding: 5px 20px;
  line-height: 1.2em;
  opacity: 0.8;
  max-height: 80px;
  text-align: justify;
  /* overflow-y: scroll; */
}

.sd-btn {
  margin: 15px 20px;
  margin-right: 0px;
  padding: 10px 15px;
  border-radius: 0.5em;
  border: 2px solid var(--darkDeco);
  text-decoration: none;
  opacity: 0.7;
  font-size: 14px;
  background-color: var(--superlightBG);
}

.sd-btn:hover {
  opacity: 1;
}
