#publications {
  background-color: rgb(209, 209, 209);
  width: 100%;
  flex-direction: column;
}

.grainseg-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #08061f;
}

.grainseg-wrapper {
  flex-grow: 1;
  height: 100%;
}

.grainseg-content {
  color: white;
  opacity: 0.8;
  width: 500px;
  padding-left: 40px;
  border-left: 1px solid white;
}

.grainseg-content p {
  margin: 8px 0px;
  font-size: 16px;
}

.paper-title {
  font-size: 32px;
}

.authors {
  font-style: italic;
  opacity: 0.7;
}

.paper-btn-wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
}

#seg-image {
  height: 100%;
}

/* ORIPRED CONTAINER */

.oripred-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9e9e9;
}

.oripred-wrapper {
  flex-grow: 1;
  height: 100%;
}

.figure-wrapper {
  width: 100vh;
  height: 100%;
  flex-grow: 1;
  background-color: tomato;
}

.oripred-content {
  opacity: 0.9;
  width: 500px;
  padding-right: 40px;
  border-right: 1px solid var(--textColor);
}

.oripred-content p {
  margin: 8px 0px;
  font-size: 16px;
}

#divisor {
  background-color: blue;
  background-size: cover;
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
  border-right: 2px solid white;
}

figure {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

/* BUTTONS */

.paper-btn-wrapper .btn-view-code, .paper-btn-wrapper .btn-view-code-dark {
  margin: 0px 10px;
}

.btn-view-paper,
.btn-view-code,
.btn-view-paper-dark,
.btn-view-code-dark {
  border-radius: 0.5em;
  padding: 5px 15px;
  text-decoration: none;
  opacity: 0.7;
}

.btn-view-paper,
.btn-view-code {
  border: 1px solid white;
}

.btn-view-paper-dark,
.btn-view-code-dark {
  border: 1px solid black;
}

.btn-view-paper:hover,
.btn-view-code:hover,
.btn-view-paper-dark:hover,
.btn-view-code-dark:hover {
  opacity: 1;
}

.btn-view-paper,
.btn-view-code {
  color: white;
}

.btn-view-paper:hover,
.btn-view-code:hover {
  color: white;
}

.btn-view-paper-dark:hover,
.btn-view-code-dark:hover {
  color: var(--textColor);
}
