#publications, #projects {
  background-color: rgb(209, 209, 209);
  width: 100%;
  flex-direction: column;
}

/* GRAINSEG LAYOUT */

.grainseg-container {
  width: 100%;
  height: 600px;
  background-color: #08061f;
  position: relative;
}

.publication-date {
  opacity: 0.7;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
  font-size: 62px;
  font-weight: 100;
  background-color: #08061f;
  z-index: 5;
}

.grainseg-content {
  color: white;
  opacity: 0.8;
  width: 500px;
  padding: 30px 60px;
  border: 1px solid white;
  margin: 40px 10px;
  z-index: 10;
  position: relative;
  right: 12%;
  background-color: #08061f;
}

#seg-image {
  position: absolute;
  right: 0px;
  display: block;
  height: 100%;
  opacity: 0.8;
  box-shadow: -5px 0px 40px #5d155d71;
}

/* ORIPRED LAYOUT */

.oripred-container {
  width: 100%;
  height: 600px;
  align-items: center;
  background-color: #e9e9e9;
  position: relative;
}

.publication-date-dark {
  opacity: 0.7;
  color: var(--textColor);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 20px;
  font-size: 62px;
  font-weight: 100;
  background-color: #e9e9e9;
  z-index: 5;
}

.oripred-content {
  opacity: 0.9;
  width: 500px;
  margin: 40px 10px;
  padding: 30px 60px;
  border: 1px solid var(--textColor);
  z-index: 10;
  position: relative;
  left: 12%;
  background-color: #e9e9e9;
}

#divisor {
  background-size: cover;
  position: absolute;
  width: 50%;
  overflow: hidden;
  bottom: 0;
  height: 100%;
  border-right: 2px solid white;
}

.figure-wrapper {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 800px;
  background-color: red;
}

figure {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Typography */

.grainseg-content p, .oripred-content p {
  margin: 8px 0px;
  font-size: 16px;
}

.paper-title {
  font-size: 32px;
}

.authors {
  font-style: italic;
  opacity: 0.7;
}

.authors-dark {
  background-color: rgb(136, 136, 136);
  color: white;
  font-style: italic;
  line-height: 1em;
  padding: 5px;
}

.paper-btn-wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* BUTTONS */

.paper-btn-wrapper .btn-view-code, .paper-btn-wrapper .btn-view-code-dark {
  margin: 0px 10px;
}

.btn-view-paper,
.btn-view-code,
.btn-view-paper-dark,
.btn-view-code-dark {
  border-radius: 0.5em;
  padding: 5px 15px;
  text-decoration: none;
  opacity: 0.7;
}

.btn-view-paper,
.btn-view-code {
  border: 1px solid white;
}

.btn-view-paper-dark,
.btn-view-code-dark {
  border: 1px solid black;
}

.btn-view-paper:hover,
.btn-view-code:hover,
.btn-view-paper-dark:hover,
.btn-view-code-dark:hover {
  opacity: 1;
}

.btn-view-paper,
.btn-view-code {
  color: white;
}

.btn-view-paper:hover,
.btn-view-code:hover {
  color: white;
}

.btn-view-paper-dark:hover,
.btn-view-code-dark:hover {
  color: var(--textColor);
}
