.pb-container {
  width: 100%;
  height: 600px;
  align-items: center;
  position: relative;
}

.pb-container-dark {
  background-color: var(--darkBG);
  border-top: 2px solid var(--lightDeco)
}

.pb-container-light {
  background-color: var(--lightBG);
  border-top: 2px solid var(--darkDeco);
}

.pb-date {
  opacity: 0.7;
  position: absolute;
  top: 0px;
  padding: 0px 20px;
  font-size: 62px;
  font-weight: 100;
  z-index: 5;
}

.pb-date-light {
  color: var(--lightText);
  background-color: var(--darkBG);
}

.pb-date-dark {
  color: var(--textColor);
  background-color: var(--lightBG);
}

.pb-date-left {
  left: 0px;
}

.pb-date-right {
  right: 0px;
}

.pb-content {
  width: 500px;
  padding: 30px 60px;
  margin: 40px 10px;
  z-index: 10;
  position: relative;
  opacity: 0.8;
}

.pb-content-light {
  border: 1px solid var(--textColor);
  background-color: var(--lightBG);
}

.pb-content-dark {
  color: var(--lightText);
  border: 1px solid var(--lightDeco);
  background-color: var(--darkBG);
}

.pb-content-left {
  left: 12%;
}

.pb-content-right {
  right: 12%;
}

.figure-wrapper {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 800px;
}

#seg-image {
  position: absolute;
  right: 0px;
  display: block;
  height: 100%;
  opacity: 0.8;
}

#divisor {
  background-size: cover;
  position: absolute;
  width: 50%;
  overflow: hidden;
  bottom: 0;
  height: 100%;
  border-right: 2px solid var(--lightDeco);
}

figure {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Typography */

.pb-content p {
  margin: 8px 0px;
  font-size: 16px;
  opacity: 0.9;
}

.pb-content h3 {
  font-size: 32px;
  opacity: 0.9;
  margin-top: 16px;
  margin-bottom: 12px;
}

.authors {
  font-style: italic;
}

.authors-light {
  opacity: 0.7;
}

.authors-dark {
  background-color: rgb(136, 136, 136);
  color: var(--lightText);
  line-height: 1em;
  padding: 5px;
}

.paper-btn-wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* BUTTONS */

.paper-btn-wrapper .btn-view-code, .paper-btn-wrapper .btn-view-code-dark {
  margin: 0px 10px;
}

.btn-view-paper,
.btn-view-code,
.btn-view-paper-dark,
.btn-view-code-dark {
  border-radius: 0.5em;
  padding: 5px 15px;
  text-decoration: none;
  opacity: 0.7;
}

.btn-view-paper,
.btn-view-code {
  border: 1px solid var(--lightDeco);
}

.btn-view-paper-dark,
.btn-view-code-dark {
  border: 1px solid var(--darkDeco);
}

.btn-view-paper:hover,
.btn-view-code:hover,
.btn-view-paper-dark:hover,
.btn-view-code-dark:hover {
  opacity: 1;
}

.btn-view-paper,
.btn-view-code {
  color: var(--lightText);
}

.btn-view-paper:hover,
.btn-view-code:hover {
  color: var(--lightText);
}

.btn-view-paper-dark:hover,
.btn-view-code-dark:hover {
  color: var(--textColor);
}
