/* footer {
  background-color: var(--darkText);
  width: 100%;
  height: var(--PageBottomHeight);
  flex-direction: column;
}

footer ul li {
  display: inline-block;
  padding-left: 0px;
  padding: 5px 15px;
}

.copyright {
  color: white;
}

footer i {
  color: white;
  font-size: 22px;
}

footer i:hover {
  color: var(--themeColor);
} */